[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codyn"]
	path = codyn
	url = https://github.com/nceas/codyn
[submodule "metajam"]
	path = metajam
	url = https://github.com/nceas/metajam
[submodule "rt"]
	path = rt
	url = https://github.com/nceas/rt
[submodule "scicomptools"]
	path = scicomptools
	url = https://github.com/nceas/scicomptools
