[submodule ".registry"]
	path = .registry
	url = https://github.com/nceas/nceas.r-universe.dev
	branch = HEAD
[submodule "EML"]
	path = EML
	url = https://github.com/ropensci/EML
[submodule "arcticdatautils"]
	path = arcticdatautils
	url = https://github.com/NCEAS/arcticdatautils
[submodule "codyn"]
	path = codyn
	url = https://github.com/NCEAS/codyn
[submodule "datamgmt"]
	path = datamgmt
	url = https://github.com/NCEAS/datamgmt
[submodule "emld"]
	path = emld
	url = https://github.com/ropensci/emld
[submodule "flowers"]
	path = flowers
	url = https://github.com/NCEAS/flowers
[submodule "metajam"]
	path = metajam
	url = https://github.com/NCEAS/metajam
[submodule "rt"]
	path = rt
	url = https://github.com/NCEAS/rt
[submodule "vegbankr"]
	path = vegbankr
	url = https://github.com/NCEAS/vegbankr
