[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "codyn"]
	path = codyn
	url = https://github.com/nceas/codyn
	shallow = true
	registered = true
[submodule "rt"]
	path = rt
	url = https://github.com/nceas/rt
	shallow = true
	registered = true
